{
    "presets": [
      [
        "next/babel",
        {
          "preset-env": {},
          "transform-runtime": { "useESModules": false},
          "styled-jsx": {},
          "class-properties": {}
        }
      ]
    ],
    "plugins": []
  }