{
    "presets": [
      [
        "next/babel",
        {
          "preset-env": {},
          "transform-runtime": {  "modules": "commonjs"},
          "styled-jsx": {},
          "class-properties": {}
        }
      ]
    ],
    "plugins": []
  }